<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style type="text/css">
      body {
        background-image: url("https://i.imgur.com/TFpATze.png");
        text-align: center;
      }
    </style>
    <title></title>
  </head>
  <body>
    <h1><span>An Amateur's Guide to Popularly Foraged Fungi</span><h1>
    <a href="/mushrooms"><span>Back to Main Menu</span></a>
    <form class="" action="/mushrooms/<%=mushrooms.id%>?_method=DELETE" method="POST">
      <input type="submit" name="" value="DELETE">
    </form>
    <a href="/mushrooms/:<%=mushrooms.id%>/edit">Edit Mushroom</a>
    <h2><span><%=mushrooms.name%></span></h2>
    <img src="<%=mushrooms.img%>"/>
    <h2><span>Description: <%=mushrooms.description%></span></h2>
    <h2><span>Location: <%=mushrooms.location%></span></h2>

  </body>
</html>
