<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style type="text/css">
      body {
        background-image: url("https://i.imgur.com/TFpATze.png");
        text-align: center;
      }
      h1 {
        text-decoration: underline;
        font-style: italic;
      }
      img {
        border-radius: 40%
      }
    </style>
    <title></title>
  </head>
  <body>

    <h1><span>An Amateur's Guide to Popularly Foraged Fungi</span><h1>
    <%JSON.stringify(mushroom)%>
    <h2><a href="/mushrooms"><span>Back to Main Menu</span></a></h2>
    <form class="" action="/mushrooms/<%=mushroom.id%>?_method=DELETE" method="POST">
      <input type="submit" name="" value="DELETE">
    </form>
    <h3><a href="/mushrooms/:<%=mushroom.id%>/edit">Edit Mushroom</a></h3>
    <h1><span><%=mushroom.name%></span></h1>
    <img src="<%=mushroom.img%>"/>
    <h2><span>Description: <%=mushroom.description%></span></h2>
    <h2><span>Location: <%=mushroom.location%></span></h2>

  </body>
</html>
